<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  Logged in: {{authService.isLoggedIn$()}}
  @if (!authService.isLoggedIn$()) {
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="loginWithHydra()">
      <mat-icon>login</mat-icon>
    </button>
  } @else {
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  }
</mat-toolbar>
<router-outlet />
